<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
<title>Crown - premium responsive admin template for backend systems</title>
{% include "app/js.html" %}

<!-- Shared on MafiaShare.net  --><!-- Shared on MafiaShare.net  --></head>

<body class="nobg errorPage">

{% include "app/_top_fixed_navigation.html" %}

<!-- Main content wrapper -->
<div class="errorWrapper">
    <span class="sadEmo"></span>
    <span class="errorTitle">Ahh, something went wrong here :(</span>
    <span class="errorNum">405</span>
    <span class="errorDesc">Oops! Sorry, an error has occured. Method not allowed!</span>
    <a href={% url "home" %} title="" class="button dredB"><span>Back to dashboard</span></a>
</div>    
    
</body>
</html>