        <li class="forms"><a href="#" title="" class="exp"><span>Forms stuff</span><strong>4</strong></a>
            <ul class="sub">
                <li><a href={% url "form_default" %} title="">Form elements</a></li>
                <li><a href={% url "form_validation" %} title="">Validation</a></li>
                <li href={% url "form_editor" %} title="">WYSIWYG and file uploader</a></li>
                <li class="last"><a href={% url "form_wizards" %} title="">Wizards</a></li>
            </ul>
        </li>