    <!-- Sidebar profile -->
    <div class="sideProfile">
    	<a href="#" title="" class="profileFace"><img src="/static/images/user.png" alt="" /></a>
        <span>Howdy <strong>Eugene!</strong></span>
        <span>You have <a href="#" title="">2</a> unread mails</span>
        <div class="clear"></div>
        <div class="sidedd">
        	<span class="goUser">Eugene Kopyov</span>
        	<ul class="sideDropdown">
            	<li><a href="#" title=""><img src="/static/images/icons/topnav/profile.png" alt="" />My profile</a></li>
                <li><a href="#" title=""><img src="/static/images/icons/topnav/messages.png" alt="" />My messages</a></li>
                <li><a href="#" title=""><img src="/static/images/icons/topnav/tasks.png" alt="" />My tasks</a></li>
                <li><a href="#" title=""><img src="/static/images/icons/topnav/settings.png" alt="" />My settings</a></li>
                <li><a href="#" title=""><img src="/static/images/icons/topnav/logout.png" alt="" />Logout</a></li>
            </ul>
        </div>
    </div>