    <div class="sidebarSep"></div>

     {% include "app/_left_section_sideprofile.html" %}

    <div class="sidebarSep"></div>

    {% include "app/_left_section_statistics.html" %}

    <div class="sidebarSep"></div>

   {% include "app/_left_section_icons_group_widget.html" %}

    <div class="sidebarSep"></div>

     {% include "app/_left_section_general_balance_widget.html" %}

     {% include "app/_left_section_update_progress_widget.html" %}

    <div class="sidebarSep"></div>

     {% include "app/_left_section_progress_bars.html" %}

    <div class="sidebarSep"></div>

    {% include "app/_left_section_sidebar_buttons.html" %}

    <div class="sidebarSep"></div>

    {% include "app/_left_section_sidebar_buttons.html" %}
    {% include "app/_left_section_next_update.html" %}

    <div class="sidebarSep"></div>