       <li class="errors"><a href="#" title="" class="exp"><span>Error pages</span><strong>6</strong></a>
            <ul class="sub">
                <li><a href={% url "403" %} title="">403 page</a></li>
                <li><a href={% url "404" %} title="">404 page</a></li>
                <li><a href={% url "405" %} title="">405 page</a></li>
                <li><a href={% url "500" %} title="">500 page</a></li>
                <li><a href={% url "503" %} title="">503 page</a></li>
                <li class="last"><a href={% url "offline" %} title="">Website is offline</a></li>
            </ul>
        </li>