<!-- Left navigation -->
<ul id="menu" class="nav">
    {% include "app/_left_section_dashboard.html" %}
    {% include "app/_left_section_statistics_and_charts.html" %}
    {% include "app/_left_section_forms.html" %}
    {% include "app/_left_section_ui_elements.html" %}
    {% include "app/_left_section_tables.html" %}
    {% include "app/_left_section_widgets.html" %}
    {% include "app/_left_section_errors.html" %}
    {% include "app/_left_section_file_manager.html" %}
    {% include "app/_left_section_other_pages.html" %}
</ul>
