    <!-- Page statistics area -->
    <div class="statsRow">
        <div class="wrapper statsItems">

            <!-- Stats item -->
            <div class="sItem ticketsStats">
                <h2><a title="" class="value">1258<span>visits</span></a></h2>

                <div class="statsDetailed" id="s1">
                    <div class="statsContent">
                        <div class="sElements">
                            <div class="sDisplay"><h4>5422</h4><span>new visits</span></div>
                            <div class="sDisplay"><h4>19k+</h4><span>total</span></div>
                            <div class="sDisplay"><h4>8520</h4><span>returned</span></div>
                        </div>
                        <span class="line"></span>
                        <div class="statsUpdate">
                            <span>Next update in:</span>
                            <span>19 hrs 49 min</span>
                            <div class="contentProgress">
                                <div class="barG tipS" id="bar1" original-title="19%" style="width: 19%;"></div>
                            </div>
                        </div>
                        <div class="statsDropBtn"><a href="#" class="button basic"><img
                                src="/static/images/icons/dark/refresh4.png" class="icon" alt=""><span>Update now</span></a>
                        </div>
                    </div>
                </div>
                <span class="changes">
                    <span class="negBar" values="5,10,15,20,18,16,14,20,15,16"><canvas width="49" height="16"
                                                                                       style="display: inline-block; width: 49px; height: 16px; vertical-align: top;"></canvas></span>
                    <span class="negative">-0.6%</span>
                </span>
            </div>

            <!-- Stats item -->
            <div class="sItem visitsStats">
                <h2><a title="" class="value">1258<span>tickets</span></a></h2>
                <div class="statsDetailed" id="s2">
                    <div class="statsContent">
                        <div class="sElements">
                            <div class="sDisplay"><h4>842</h4><span>pending</span></div>
                            <div class="sDisplay"><h4>24k+</h4><span>closed</span></div>
                            <div class="sDisplay"><h4>1245</h4><span>total</span></div>
                        </div>
                        <span class="line"></span>
                        <div class="statsUpdate">
                            <span>Next update in:</span>
                            <span>10 hrs 55 min</span>
                            <div class="contentProgress">
                                <div class="barG tipS" id="bar2" title="68%"></div>
                            </div>
                        </div>
                        <div class="statsDropBtn"><a href="#" class="button basic"><img
                                src="/static/images/icons/dark/bubbles2.png" class="icon"
                                alt=""/><span>Support center</span></a></div>
                    </div>
                </div>
                <span class="changes">
                    <span class="posBar" values="5,10,15,20,25,30,35,40,45,50"></span>
                    <span class="positive">+0.6%</span>
                </span>
            </div>

            <!-- Stats item -->
            <div class="sItem usersStats">
                <h2><a title="" class="value">1258<span>users</span></a></h2>
                <div class="statsDetailed" id="s3">
                    <div class="statsContent">
                        <div class="sElements">
                            <div class="sDisplay"><h4>1124</h4><span>new users</span></div>
                            <div class="sDisplay"><h4>9842</h4><span>pending</span></div>
                            <div class="sDisplay"><h4>5483</h4><span>total</span></div>
                        </div>
                        <span class="line"></span>
                        <div class="statsUpdate">
                            <span>Next update in:</span>
                            <span>14 hrs 21 min</span>
                            <div class="contentProgress">
                                <div class="barG tipS" id="bar3" title="32%"></div>
                            </div>
                        </div>
                        <div class="statsDropBtn"><a href="#" class="button basic"><img
                                src="/static/images/icons/dark/users.png" class="icon" alt=""/><span>Add more users</span></a>
                        </div>
                    </div>
                </div>
                <span class="changes">
                    <span class="zeroBar" values="5,10,15,20,25,30,35,40,45,50"></span>
                    <span class="zero">0.0%</span>
                </span>
            </div>

            <!-- Stats item -->
            <div class="sItem ordersStats">
                <h2><a title="" class="value">1258<span>orders</span></a></h2>
                <div class="statsDetailed" id="s4">
                    <div class="statsContent">
                        <div class="sElements">
                            <div class="sDisplay"><h4>578</h4><span>new orders</span></div>
                            <div class="sDisplay"><h4>5486</h4><span>pending</span></div>
                            <div class="sDisplay"><h4>16k+</h4><span>total</span></div>
                        </div>
                        <span class="line"></span>
                        <div class="statsUpdate">
                            <span>Next update in:</span>
                            <span>1 hr 19 min</span>
                            <div class="contentProgress">
                                <div class="barG tipS" id="bar4" title="89%"></div>
                            </div>
                        </div>
                        <div class="statsDropBtn"><a href="#" class="button basic"><img
                                src="/static/images/icons/dark/stats.png" class="icon" alt=""/><span>View statistics</span></a>
                        </div>
                    </div>
                </div>
                <span class="changes">
                    <span class="negBar" values="5,10,15,20,25,30,35,40,45,50"></span>
                    <span class="negative">+0.6%</span>
                </span>
            </div>
        </div>
    </div>