    <!-- Page statistics and control buttons area -->
    <div class="statsRow">
        <div class="wrapper">
        	<div class={{ class_name }}>
            	<ul>
                	<li><a href="#" title=""><img src="/static/images/icons/control/{{ size }}/plus.png" alt="" /><span>Add new session</span></a></li>
                    <li><a href="#" title=""><img src="/static/images/icons/control/{{ size }}/database.png" alt="" /><span>New DB entry</span></a></li>
                    <li><a href="#" title=""><img src="/static/images/icons/control/{{ size }}/hire-me.png" alt="" /><span>Add new user</span></a></li>
                    <li><a href="#" title=""><img src="/static/images/icons/control/{{ size }}/statistics.png" alt="" /><span>Check statistics</span></a></li>
                    <li><a href="#" title=""><img src="/static/images/icons/control/{{ size }}/comment.png" alt="" /><span>Review comments</span></a></li>
                    <li><a href="#" title=""><img src="/static/images/icons/control/{{ size }}/order-149.png" alt="" /><span>Check orders</span></a></li>
                </ul>
                <div class="clear"></div>
            </div>
        </div>
    </div>