    <!-- Responsive header -->
    <div class="resp">
        <div class="respHead">
            <a href={% url "home" %} title=""><img src="/static/images/loginLogo.png" alt="" /></a>
        </div>

        <div class="cLine"></div>
        <div class="smalldd">
            <span class="goTo"><img src="/static/images/icons/light/home.png" alt="" />Dashboard</span>
            <ul class="smallDropdown">
                <li><a href={% url "home" %} title=""><img src="/static/images/icons/light/home.png" alt="" />Dashboard</a></li>
                <li><a href={% url "charts" %} title=""><img src="/static/images/icons/light/stats.png" alt="" />Statistics and charts</a></li>
                <li><a href="#" title="" class="exp"><img src="/static/images/icons/light/pencil.png" alt="" />Forms stuff<strong>4</strong></a>
                    <ul>
                        <li><a href={% url "form_default" %} title="">Form elements</a></li>
                        <li><a href={% url "form_validation" %} title="">Validation</a></li>
                        <li href={% url "form_editor" %} title="">WYSIWYG and file uploader</a></li>
                        <li class="last"><a href={% url "form_wizards" %} title="">Wizards</a></li>
                    </ul>
                </li>
                <li><a href={% url "ui_elements" %} title=""><img src="/static/images/icons/light/users.png" alt="" />Interface elements</a></li>
                <li><a href="tables.html" title="" class="exp"><img src="/static/images/icons/light/frames.png" alt="" />Tables<strong>3</strong></a>
                    <ul>
                        <li><a href={% url "table_static" %} title="">Static tables</a></li>
                        <li><a href={% url "table_dynamic" %} title="">Dynamic table</a></li>
                        <li class="last"><a href={% url "table_sortable_resizable" %} title="">Sortable &amp; resizable tables</a></li>
                    </ul>
                </li>
                <li><a href="#" title="" class="exp"><img src="/static/images/icons/light/fullscreen.png" alt="" />Widgets and grid<strong>2</strong></a>
                    <ul>
                        <li><a href={% url "widgets" %} title="">Widgets</a></li>
                        <li class="last"><a href={% url "grid" %} title="">Grid</a></li>
                    </ul>
                </li>
                <li><a href="#" title="" class="exp"><img src="/static/images/icons/light/alert.png" alt="" />Error pages<strong>6</strong></a>
                    <ul class="sub">
                        <li><a href={% url "403" %} title="">403 page</a></li>
                        <li><a href={% url "404" %} title="">404 page</a></li>
                        <li><a href={% url "405" %} title="">405 page</a></li>
                        <li><a href={% url "500" %} title="">500 page</a></li>
                        <li><a href={% url "503" %} title="">503 page</a></li>
                        <li class="last"><a href="offline.html" title="">Website is offline</a></li>
                    </ul>
                </li>
                <li><a href={% url "file_manager" %} title=""><img src="/static/images/icons/light/files.png" alt="" />File manager</a></li>
                <li><a href="#" title="" class="exp"><img src="/static/images/icons/light/create.png" alt="" />Other pages<strong>3</strong></a>
                    <ul>
                        <li><a href={% url "typography" %} title="">Typography</a></li>
                        <li><a href={% url "calendar" %} title="">Calendar</a></li>
                        <li class="last"><a href={% url "gallery" %} title="">Gallery</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="cLine"></div>
    </div>