<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
<title>Crown - premium responsive admin template for backend systems</title>
{% include "app/js.html" %}

<!-- Shared on MafiaShare.net  --><!-- Shared on MafiaShare.net  --></head>

<body>

<!-- Left side content -->
<div id="leftSide">
    {% include "app/_left_side_top.html" with showbalance=True %}

    <div class="sidebarSep"></div>
    
    <!-- Left navigation -->
    <ul id="menu" class="nav">
        {% include "app/_left_section_dashboard.html" %}
        {% include "app/_left_section_statistics_and_charts.html" %}
        {% include "app/_left_section_forms.html" %}
        {% include "app/_left_section_ui_elements.html" %}
        {% include "app/_left_section_tables.html" %}
        {% include "app/_left_section_widgets.html" %}
        {% include "app/_left_section_errors.html" %}
        {% include "app/_left_section_file_manager.html" %}
        <li class="typo"><a href="#" title="" class="active exp" id="current"><span>Other pages</span><strong>3</strong></a>
            <ul class="sub">
                <li><a href={% url "typography" %} title="">Typography</a></li>
                <li class="this"><a href={% url "calendar" %} title="">Calendar</a></li>
                <li class="last"><a href={% url "gallery" %} title="">Gallery</a></li>
            </ul>
        </li>
    </ul>
</div>


<!-- Right side -->
<div id="rightSide">

    {% include "app/_top_fixed_navigation.html" %}
    {% include "app/_responsive_header.html" %}
    {% include "app/_title_area.html" with page_title="Events Calendar"%}

    <div class="line"></div>

    {% include "app/_page_statistics_and_control_bottons_area.html" with class_name="controlB" size=32 %}

    <div class="line"></div>
    
    <!-- Main content wrapper -->
    <div class="wrapper">
    
        <!-- Events calendar -->
        <div class="widget">
            <div class="title"><img src="/static/images/icons/dark/monthCalendar.png" alt="" class="titleIcon" /><h6>Events</h6></div>
            <div class="calendar"></div>
        </div>
    
    </div>

    {% include "app/_footer_line.html" %}

</div>

<div class="clear"></div>

</body>
</html>