<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
<title>Crown - premium responsive admin template for backend systems</title>
{% include "app/js.html" %}

<!-- Shared on MafiaShare.net  --><!-- Shared on MafiaShare.net  --></head>

<body>

<!-- Left side content -->
<div id="leftSide">
    {% include "app/_left_side_top.html" with showbalance=True %}

    <div class="sidebarSep"></div>
    
    <!-- Left navigation -->
            <ul id="menu" class="nav">
        {% include "app/_left_section_dashboard.html" %}
        {% include "app/_left_section_statistics_and_charts.html" %}
        {% include "app/_left_section_forms.html" %}
        {% include "app/_left_section_ui_elements.html" %}
        {% include "app/_left_section_tables.html" %}
        {% include "app/_left_section_widgets.html" %}
        {% include "app/_left_section_errors.html" %}
        {% include "app/_left_section_file_manager.html" %}
        <li class="typo"><a href="#" title="" class="active exp" id="current"><span>Other pages</span><strong>3</strong></a>
            <ul class="sub">
                <li><a href={% url "typography" %} title="">Typography</a></li>
                <li><a href={% url "calendar" %} title="">Calendar</a></li>
                <li class="last this"><a href={% url "gallery" %} title="">Gallery</a></li>
            </ul>
        </li>
    </ul>
</div>


<!-- Right side -->
<div id="rightSide">

    {% include "app/_top_fixed_navigation.html" %}
    {% include "app/_responsive_header.html" %}
    {% include "app/_title_area.html" with page_title="Media Gallery"%}

    <div class="line"></div>

    {% include "app/_page_statistics_and_control_bottons_area.html" with class_name="controlB" size=32 %}

    <div class="line"></div>
    
    <!-- Main content wrapper -->
    <div class="wrapper">
    
        <!-- Images gallery -->
        <div class="widget">
            <div class="title"><img src="/static/images/icons/dark/images2.png" alt="" class="titleIcon" /><h6>Images gallery</h6></div>
            <div class="gallery">
               <ul>
                    <li><a href="/static/images/big.png" title="" rel="lightbox"><img src="/static/images/img.png" alt="" /></a>
                        <div class="actions">
                            <a href="#" title=""><img src="/static/images/icons/update.png" alt="" /></a>
                            <a href="#" title=""><img src="/static/images/icons/delete.png" alt="" /></a>
                        </div>
                    </li>
                    <li><a href="/static/images/big.png" title="" rel="lightbox"><img src="/static/images/img.png" alt="" /></a>
                        <div class="actions">
                            <a href="#" title=""><img src="/static/images/icons/update.png" alt="" /></a>
                            <a href="#" title=""><img src="/static/images/icons/delete.png" alt="" /></a>
                        </div>
                    </li>
                    <li><a href="/static/images/big.png" title="" rel="lightbox"><img src="/static/images/img.png" alt="" /></a>
                        <div class="actions">
                            <a href="#" title=""><img src="/static/images/icons/update.png" alt="" /></a>
                            <a href="#" title=""><img src="/static/images/icons/delete.png" alt="" /></a>
                        </div>
                    </li>
                    <li><a href="/static/images/big.png" title="" rel="lightbox"><img src="/static/images/img.png" alt="" /></a>
                        <div class="actions">
                            <a href="#" title=""><img src="/static/images/icons/update.png" alt="" /></a>
                            <a href="#" title=""><img src="/static/images/icons/delete.png" alt="" /></a>
                        </div>
                    </li>
                    <li><a href="/static/images/big.png" title="" rel="lightbox"><img src="/static/images/img.png" alt="" /></a>
                        <div class="actions">
                            <a href="#" title=""><img src="/static/images/icons/update.png" alt="" /></a>
                            <a href="#" title=""><img src="/static/images/icons/delete.png" alt="" /></a>
                        </div>
                    </li>
                    <li><a href="/static/images/big.png" title="" rel="lightbox"><img src="/static/images/img.png" alt="" /></a>
                        <div class="actions">
                            <a href="#" title=""><img src="/static/images/icons/update.png" alt="" /></a>
                            <a href="#" title=""><img src="/static/images/icons/delete.png" alt="" /></a>
                        </div>
                    </li>
                    <li><a href="/static/images/big.png" title="" rel="lightbox"><img src="/static/images/img.png" alt="" /></a>
                        <div class="actions">
                            <a href="#" title=""><img src="/static/images/icons/update.png" alt="" /></a>
                            <a href="#" title=""><img src="/static/images/icons/delete.png" alt="" /></a>
                        </div>
                    </li>
                    <li><a href="/static/images/big.png" title="" rel="lightbox"><img src="/static/images/img.png" alt="" /></a>
                        <div class="actions">
                            <a href="#" title=""><img src="/static/images/icons/update.png" alt="" /></a>
                            <a href="#" title=""><img src="/static/images/icons/delete.png" alt="" /></a>
                        </div>
                    </li>
                    <li><a href="/static/images/big.png" title="" rel="lightbox"><img src="/static/images/img.png" alt="" /></a>
                        <div class="actions">
                            <a href="#" title=""><img src="/static/images/icons/update.png" alt="" /></a>
                            <a href="#" title=""><img src="/static/images/icons/delete.png" alt="" /></a>
                        </div>
                    </li>
                    <li><a href="/static/images/big.png" title="" rel="lightbox"><img src="/static/images/img.png" alt="" /></a>
                        <div class="actions">
                            <a href="#" title=""><img src="/static/images/icons/update.png" alt="" /></a>
                            <a href="#" title=""><img src="/static/images/icons/delete.png" alt="" /></a>
                        </div>
                    </li>
                    <li><a href="/static/images/big.png" title="" rel="lightbox"><img src="/static/images/img.png" alt="" /></a>
                        <div class="actions">
                            <a href="#" title=""><img src="/static/images/icons/update.png" alt="" /></a>
                            <a href="#" title=""><img src="/static/images/icons/delete.png" alt="" /></a>
                        </div>
                    </li>
                    <li><a href="/static/images/big.png" title="" rel="lightbox"><img src="/static/images/img.png" alt="" /></a>
                        <div class="actions">
                            <a href="#" title=""><img src="/static/images/icons/update.png" alt="" /></a>
                            <a href="#" title=""><img src="/static/images/icons/delete.png" alt="" /></a>
                        </div>
                    </li>
                    <li><a href="/static/images/big.png" title="" rel="lightbox"><img src="/static/images/img.png" alt="" /></a>
                        <div class="actions">
                            <a href="#" title=""><img src="/static/images/icons/update.png" alt="" /></a>
                            <a href="#" title=""><img src="/static/images/icons/delete.png" alt="" /></a>
                        </div>
                    </li>
                    <li><a href="/static/images/big.png" title="" rel="lightbox"><img src="/static/images/img.png" alt="" /></a>
                        <div class="actions">
                            <a href="#" title=""><img src="/static/images/icons/update.png" alt="" /></a>
                            <a href="#" title=""><img src="/static/images/icons/delete.png" alt="" /></a>
                        </div>
                    </li>
                    <li><a href="/static/images/big.png" title="" rel="lightbox"><img src="/static/images/img.png" alt="" /></a>
                        <div class="actions">
                            <a href="#" title=""><img src="/static/images/icons/update.png" alt="" /></a>
                            <a href="#" title=""><img src="/static/images/icons/delete.png" alt="" /></a>
                        </div>
                    </li>
                    <li><a href="/static/images/big.png" title="" rel="lightbox"><img src="/static/images/img.png" alt="" /></a>
                        <div class="actions">
                            <a href="#" title=""><img src="/static/images/icons/update.png" alt="" /></a>
                            <a href="#" title=""><img src="/static/images/icons/delete.png" alt="" /></a>
                        </div>
                    </li>
                    <li><a href="/static/images/big.png" title="" rel="lightbox"><img src="/static/images/img.png" alt="" /></a>
                        <div class="actions">
                            <a href="#" title=""><img src="/static/images/icons/update.png" alt="" /></a>
                            <a href="#" title=""><img src="/static/images/icons/delete.png" alt="" /></a>
                        </div>
                    </li>
                    <li><a href="/static/images/big.png" title="" rel="lightbox"><img src="/static/images/img.png" alt="" /></a>
                        <div class="actions">
                            <a href="#" title=""><img src="/static/images/icons/update.png" alt="" /></a>
                            <a href="#" title=""><img src="/static/images/icons/delete.png" alt="" /></a>
                        </div>
                    </li>
                    <li><a href="/static/images/big.png" title="" rel="lightbox"><img src="/static/images/img.png" alt="" /></a>
                        <div class="actions">
                            <a href="#" title=""><img src="/static/images/icons/update.png" alt="" /></a>
                            <a href="#" title=""><img src="/static/images/icons/delete.png" alt="" /></a>
                        </div>
                    </li>
                    <li><a href="/static/images/big.png" title="" rel="lightbox"><img src="/static/images/img.png" alt="" /></a>
                        <div class="actions">
                            <a href="#" title=""><img src="/static/images/icons/update.png" alt="" /></a>
                            <a href="#" title=""><img src="/static/images/icons/delete.png" alt="" /></a>
                        </div>
                    </li>
                    <li><a href="/static/images/big.png" title="" rel="lightbox"><img src="/static/images/img.png" alt="" /></a>
                        <div class="actions">
                            <a href="#" title=""><img src="/static/images/icons/update.png" alt="" /></a>
                            <a href="#" title=""><img src="/static/images/icons/delete.png" alt="" /></a>
                        </div>
                    </li>
                    <li><a href="/static/images/big.png" title="" rel="lightbox"><img src="/static/images/img.png" alt="" /></a>
                        <div class="actions">
                            <a href="#" title=""><img src="/static/images/icons/update.png" alt="" /></a>
                            <a href="#" title=""><img src="/static/images/icons/delete.png" alt="" /></a>
                        </div>
                    </li>
                    <li><a href="/static/images/big.png" title="" rel="lightbox"><img src="/static/images/img.png" alt="" /></a>
                        <div class="actions">
                            <a href="#" title=""><img src="/static/images/icons/update.png" alt="" /></a>
                            <a href="#" title=""><img src="/static/images/icons/delete.png" alt="" /></a>
                        </div>
                    </li>
                    <li><a href="/static/images/big.png" title="" rel="lightbox"><img src="/static/images/img.png" alt="" /></a>
                        <div class="actions">
                            <a href="#" title=""><img src="/static/images/icons/update.png" alt="" /></a>
                            <a href="#" title=""><img src="/static/images/icons/delete.png" alt="" /></a>
                        </div>
                    </li>
               </ul> 
               <div class="fix"></div>
           </div>
        </div>
        
        <div class="widget">
        <div class="title"><span class="titleIcon"><label for="titleCheck"></label><input type="checkbox" id="titleCheck" name="titleCheck" /></span><h6>Media table</h6></div>
        <table cellpadding="0" cellspacing="0" width="100%" class="sTable withCheck mTable" id="checkAll">
            <thead>
                <tr>
                    <td><img src="/static/images/icons/tableArrows.png" alt="" /></td>
                    <td>Image</td>
                    <td class="sortCol"><div>Description<span></span></div></td>
                    <td class="sortCol"><div>Date<span></span></div></td>
                    <td>File info</td>
                    <td>Actions</td>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td colspan="6">
                        <div class="itemActions">
                            <label>Apply action:</label>
                            <select>
                                <option value="">Select action...</option>
                                <option value="Edit">Edit</option>
                                <option value="Delete">Delete</option>
                                <option value="Move">Move somewhere</option>
                            </select>
                        </div>
                        <div class="tPagination">
                            <ul>
                                <li class="prev"><a href="#" title=""></a></li>
                                <li><a href="#" title="">1</a></li>
                                <li><a href="#" title="">2</a></li>
                                <li><a href="#" title="">3</a></li>
                                <li><a href="#" title="">4</a></li>
                                <li><a href="#" title="">5</a></li>
                                <li><a href="#" title="">6</a></li>
                                <li>...</li>
                                <li><a href="#" title="">20</a></li>
                                <li class="next"><a href="#" title=""></a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tfoot>
            <tbody>
                <tr>
                    <td><label for="titleCheck2"></label><input type="checkbox" id="titleCheck2" name="checkRow" /></td>
                    <td align="center"><a href="/static/images/big.png" title="" rel="lightbox"><img src="/static/images/user.png" alt="" /></a></td>
                    <td><a href="#" title="">Image1 description</a></td>
                    <td align="center">Feb 12, 2012. 12:28</td>
                    <td class="fileInfo"><span><strong>Size:</strong> 215 Kb</span><span><strong>Format:</strong> .jpg</span></td>
                    <td class="actBtns"><a href="#" title="Update" class="tipS"><img src="/static/images/icons/edit.png" alt="" /></a><a href="#" title="Remove" class="tipS"><img src="/static/images/icons/remove.png" alt="" /></a></td>
                </tr>
                <tr>
                    <td><label for="titleCheck3"></label><input type="checkbox" id="titleCheck3" name="checkRow" /></td>
                    <td align="center"><a href="/static/images/big.png" title="" rel="lightbox"><img src="/static/images/user.png" alt="" /></a></td>
                    <td><a href="#" title="">Image2 description</a></td>
                    <td align="center">Feb 12, 2012. 12:30</td>
                    <td class="fileInfo"><span><strong>Size:</strong> 215 Kb</span><span><strong>Format:</strong> .jpg</span></td>
                    <td class="actBtns"><a href="#" title="Update" class="tipS"><img src="/static/images/icons/edit.png" alt="" /></a><a href="#" title="Remove" class="tipS"><img src="/static/images/icons/remove.png" alt="" /></a></td>
                </tr>
                <tr>
                    <td><input type="checkbox" id="titleCheck4" name="checkRow" /></td>
                    <td align="center"><a href="/static/images/big.png" title="" rel="lightbox"><img src="/static/images/user.png" alt="" /></a></td>
                    <td><a href="#" title="">Image3 description</a></td>
                    <td align="center">Feb 11, 2012. 02:30</td>
                    <td class="fileInfo"><span><strong>Size:</strong> 215 Kb</span><span><strong>Format:</strong> .jpg</span></td>
                    <td class="actBtns"><a href="#" title="Update" class="tipS"><img src="/static/images/icons/edit.png" alt="" /></a><a href="#" title="Remove" class="tipS"><img src="/static/images/icons/remove.png" alt="" /></a></td>
                </tr>
                <tr>
                    <td><input type="checkbox" id="titleCheck5" name="checkRow" /></td>
                    <td align="center"><a href="/static/images/big.png" title="" rel="lightbox"><img src="/static/images/user.png" alt="" /></a></td>
                    <td><a href="#" title="">Image4 description</a></td>
                    <td align="center">Feb 12, 2012. 12:28</td>
                    <td class="fileInfo"><span><strong>Size:</strong> 215 Kb</span><span><strong>Format:</strong> .jpg</span></td>
                    <td class="actBtns"><a href="#" title="Update" class="tipS"><img src="/static/images/icons/edit.png" alt="" /></a><a href="#" title="Remove" class="tipS"><img src="/static/images/icons/remove.png" alt="" /></a></td>
                </tr>
                <tr>
                    <td><input type="checkbox" id="titleCheck6" name="checkRow" /></td>
                    <td align="center"><a href="/static/images/big.png" title="" rel="lightbox"><img src="/static/images/user.png" alt="" /></a></td>
                    <td><a href="#" title="">Image5 description</a></td>
                    <td align="center">Feb 12, 2012. 12:28</td>
                    <td class="fileInfo"><span><strong>Size:</strong> 215 Kb</span><span><strong>Format:</strong> .jpg</span></td>
                    <td class="actBtns"><a href="#" title="Update" class="tipS"><img src="/static/images/icons/edit.png" alt="" /></a><a href="#" title="Remove" class="tipS"><img src="/static/images/icons/remove.png" alt="" /></a></td>
                </tr>
            </tbody>
        </table>
        </div>
    
    </div>

    {% include "app/_footer_line.html" %}

</div>

<div class="clear"></div>

</body>
</html>